.App {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #F3E9E8;

  font-family: 'JetBrains Mono', 'Consolas', 'Andale Mono WT', 'Andale Mojo', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  color: #393939;
}

.my-photo {
  width: min(200px, 100%);
  height: min(200px, 100%);
  border-radius: 50%;
}